<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <appSettings>
    <!-- Tables Schemas Settings-->
    <add key="SqlTables" value="SELECT name as NAME FROM Sys.Tables order by name asc"/>
    <add key="OracleTables" value="SELECT table_name as NAME  FROM user_tables order by name asc"/>
    <!-- Views Schemas Settings-->
    <add key="SqlViews" value="SELECT TABLE_NAME as NAME FROM INFORMATION_SCHEMA.VIEWS order by name asc "/>
    <add key="OracleViews" value="select tname as name from tab where TABTYPE = 'VIEW' order by name asc "/>
    <!-- Tables and Views Schemas Settings-->
    <add key="SqlTablesViews" value="SELECT name as NAME FROM Sys.Tables union SELECT TABLE_NAME as name FROM INFORMATION_SCHEMA.VIEWS order by name asc "/>
    <add key="OracleTablesViews" value="SELECT table_name as name  FROM user_tables union select tname as name from tab where TABTYPE = 'VIEW' order by name asc "/>
    <!-- Columns Schemas Settings-->
    <add key="SqlColumns" value="SELECT COLUMN_NAME 'ALL_COLUMNS',DATA_TYPE as DATATYPE,CHARACTER_MAXIMUM_LENGTH as SIZE FROM INFORMATION_SCHEMA.COLUMNS WHERE TABLE_NAME="/>
    <!--<add key="SqlColumns" value="SELECT COLUMN_NAME 'ALL_COLUMNS' FROM INFORMATION_SCHEMA.COLUMNS WHERE TABLE_NAME="/>-->
    <add key="OracleColumns" value="select column_name as All_Columns from user_tab_columns where table_name="/>

    <!-- PrimaryKey Schemas Settings-->
    <add key="SqlPrimaryKeyString" value="select c.COLUMN_NAME from INFORMATION_SCHEMA.TABLE_CONSTRAINTS pk , INFORMATION_SCHEMA.KEY_COLUMN_USAGE c where pk.TABLE_NAME = "/>
    <add key="SqlPrimaryKeyStringPlus" value="and CONSTRAINT_TYPE = 'PRIMARY KEY' and c.TABLE_NAME = pk.TABLE_NAME and c.CONSTRAINT_NAME = pk.CONSTRAINT_NAME"/>
    <add key="OraclePrimaryKeyString" value="SELECT cols.table_name, cols.column_name, cols.position, cons.status, cons.owner FROM all_constraints cons, all_cons_columns cols WHERE cols.table_name = "/>
    <add key="OraclePrimaryKeyStringPlus" value="AND cons.constraint_type = 'P' AND cons.constraint_name = cols.constraint_name AND cons.owner = cols.owner ORDER BY cols.table_name, cols.position"/>

    <!-- Check Tables Exist -->
    <add key="SqlTablesExist" value="  SELECT * FROM INFORMATION_SCHEMA.TABLES WHERE TABLE_NAME = N'SAVD_RPRT'"/>
    <add key="OracleTablesExist" value="select * from dba_tables where table_name ='SAVD_RPRT'"/>
    <!--ACTIVITY_ASSOCIATION table Setting-->
    <add key="ACTIVITY_ASSOCIATION" value="True"/>
    <add key="AssociationID" value="(select max(ACTVTY_ASSCTN_ID)+1 as AID from activity_association)"/>

    <add key="FilePath" value="http://localhost:54226/SaveLocation/"/>
  </appSettings>
  <connectionStrings>
    <!--Sql Sever Concction Setting-->
    <!--<add name="DBType" providerName="Sql" connectionString=""></add>
    <add name="DBConnection" providerName="System.Data.SqlClient" connectionString="Data Source=(local);Initial Catalog=NORTHWND;Integrated Security=True" />-->
    <!--<add name="DBConnection" providerName="System.Data.SqlClient" connectionString="Data Source=GopetDEVTG.db.10633663.hostedresource.com; Initial Catalog=GopetDEVTG; User ID=GopetDEVTG; Password=MetaPlore#123" />-->
    <!--Oracle Sever Concction Setting-->
    <add name="DBType" providerName="Oracle" connectionString=""/>
    <add name="DBConnection" providerName="Oracle.DataAccess.Client" connectionString="Data Source=localhost;User Id=VSOLMIGUATPL_DB;Password=VSOLMIGUATPL_DB"/>
  </connectionStrings>
  <system.web>
    <!--Data Source=10.1.194.100;User Id=VSOLMIGUATPL;Password=oracle1;-->
    <!--<customErrors mode="On" defaultRedirect="ErrorPage.aspx?handler=customErrors%20section%20-%20Web.config">
      <error statusCode="404" redirect="ErrorPage.aspx?msg=404&amp;handler=customErrors%20section%20-%20Web.config"/>
    </customErrors>-->
    <compilation debug="true" strict="false" explicit="true" targetFramework="4.5">
      <assemblies>

      </assemblies>
    </compilation>
    <httpRuntime targetFramework="4.5"/>
  </system.web>
  <system.web.extensions>
    <scripting>
      <webServices>
        <jsonSerialization maxJsonLength="2147483647"/>
      </webServices>
    </scripting>
  </system.web.extensions>
</configuration>
